<div class="div wrapper">

    <div class="header">

        <div class="in-header">

            <div><i class="uil uil-video"></i></div>
            <div class="title">Reconocimiento facial con <b>Angular</b></div>
        </div>
        <div>
            <a href="https://github.com/anekc/FaceRecognition" target="_blank"><i class="uil uil-github"></i></a>
        </div>
    </div>

    <div class="block-main">
        <div class="cam">
            <app-video-player [stream]="currentStream" [width]="dimensionVideo.width" [height]="dimensionVideo.height"></app-video-player>
        </div>
        <div class=" sidebar ">
            <div class="zone-body ">
                <div class="block ">
                    block 1
                </div>

                <div class="block ">
                    block 2
                </div>

            </div>
            <div class="zone-btn ">
                <ul class="list-btn ">
                    <li *ngFor="let btn of [1,1,1] ">
                        <i class="uil uil-github "></i>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>